body{
    background-color: #393e46;
    margin:2rem;

}

.main{
    display:flex;
align-content: center;
justify-content: center;
}

.title{
    text-align:center;

}

.tile{
width:2rem; 
height:2rem;
background-color: white;



}

.tile:hover{
    filter:brightness(90%);
}

.container{
    display:flex;
    justify-self: center;
    justify-items: center;
    justify-self:center;
    /* max-width: 600px; */
    width:666.9px;
    height:600px;
}

h1{
    color:beige;

}

h2, h3{
    color:beige;
}

#colors{

    border: 1px;
}

.ui{
    display:flex;
    /* justify-content: center; */
    /* flex: 1 2 */
}

.options{
    flex:1;
    margin-right: 3rem;
}
.grid{
    flex:3;
}


#deleteEverything{
    margin-top:1rem;
    padding:1rem;
}